Repository spacedevin/react-mui-multi-range-picker: changes, and which Codecov flags are due for each by the changed paths.
All: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

readme cleanup
  .github/README.md
  BUN_MIGRATION.md
  CODECOV_SETUP.md
  PACKAGE_STRUCTURE.md
  README.md
  ROLLUP_FIX.md
  TESTING.md
  TEST_COVERAGE_SUMMARY.md
Due: none

coverage
  .github/workflows/main.yml
  .github/workflows/pr.yml
  README.md
Due: none

tests
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

maybe
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

testing
  packages/MuiMultiDateRangePicker/examples/demo/tsconfig.json
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/examples/demo/tsconfig.json
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

unit
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
Due: none

tests
  packages/MuiMultiDateRangePicker/bunfig.toml
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/index.test.ts
  packages/MuiMultiDateRangePicker/lib/types.test.ts
  packages/MuiMultiDateRangePicker/package.json
  packages/MuiMultiDateRangePicker/test-utils/setup.ts
  packages/MuiMultiDateRangePickerPro/bunfig.toml
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/index.test.ts
  packages/MuiMultiDateRangePickerPro/lib/types.test.ts
  packages/MuiMultiDateRangePickerPro/package.json
  packages/MuiMultiDateRangePickerPro/test-utils/setup.ts
Due: MuiMultiDateRangePickerPro

cleanup
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  README.md
  docs/mui-multi-range-date-picker.png
Due: none

cleanup
  CONTRIBUTING.md
  README.md
Due: none

pro
  README.md
  docs/mui-multi-range-date-picker-pro.png
Due: none

height
  README.md
Due: none

test
  README.md
Due: none

format
  README.md
Due: none

docs
  .github/pull_request_template.md
  README.md
  packages/MuiMultiDateRangePickerPro/README.md
Due: none

cleanup code
  README.md
  packages/MuiMultiDateRangePicker/README.md
  packages/MuiMultiDateRangePicker/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePicker/lib/index.test.ts
  packages/MuiMultiDateRangePicker/lib/types.test.ts
  packages/MuiMultiDateRangePicker/lib/types.ts
  packages/MuiMultiDateRangePickerPro/README.md
  packages/MuiMultiDateRangePickerPro/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/index.test.ts
  packages/MuiMultiDateRangePickerPro/lib/types.test.ts
  packages/MuiMultiDateRangePickerPro/lib/types.ts
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

cleanup
  CONTRIBUTING.md
Due: none

cleanup
  CONTRIBUTING.md
  README.md
  examples/cjs/src/App.js
  examples/esm/src/App.jsx
  packages/MuiMultiDateRangePicker/bun.lock
  packages/MuiMultiDateRangePicker/examples/demo/tsconfig.json
  packages/MuiMultiDateRangePickerPro/bun.lock
  packages/MuiMultiDateRangePickerPro/examples/demo/tsconfig.json
Due: none

refactor
  bun.lock
  lib/bun.lock
  lib/date-utils.ts
  lib/index.ts
  lib/pointer-utils.ts
  lib/range-utils.ts
  package.json
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

lint
  biome.json
  bun.lock
  examples/cjs/package.json
  examples/cjs/src/App.js
  examples/cjs/src/index.js
  examples/cjs/webpack.config.js
  examples/esm/src/App.jsx
  examples/esm/src/main.jsx
  examples/esm/vite.config.js
  lib/date-utils.ts
  lib/index.ts
  lib/pointer-utils.ts
  lib/range-utils.ts
  package.json
  packages/MuiMultiDateRangePicker/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePicker/examples/demo/src/index.css
  packages/MuiMultiDateRangePicker/examples/demo/src/index.tsx
  packages/MuiMultiDateRangePicker/examples/demo/tsconfig.json
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePicker/lib/index.test.ts
  packages/MuiMultiDateRangePicker/lib/types.test.ts
  packages/MuiMultiDateRangePicker/test-utils/setup.ts
  packages/MuiMultiDateRangePicker/tsconfig.json
  packages/MuiMultiDateRangePickerPro/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePickerPro/examples/demo/src/index.css
  packages/MuiMultiDateRangePickerPro/examples/demo/src/index.tsx
  packages/MuiMultiDateRangePickerPro/examples/demo/tsconfig.json
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/index.test.ts
  packages/MuiMultiDateRangePickerPro/lib/types.test.ts
  packages/MuiMultiDateRangePickerPro/test-utils/setup.ts
  packages/MuiMultiDateRangePickerPro/tsconfig.json
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

lint
  examples/esm/src/App.jsx
  examples/esm/vite.config.js
  lib/date-utils.ts
  lib/index.ts
  packages/MuiMultiDateRangePicker/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePicker/lib/index.test.ts
  packages/MuiMultiDateRangePicker/lib/types.test.ts
  packages/MuiMultiDateRangePickerPro/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/index.test.ts
  packages/MuiMultiDateRangePickerPro/lib/types.test.ts
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

lint
  examples/cjs/webpack.config.js
  examples/esm/src/App.jsx
  package.json
  packages/MuiMultiDateRangePicker/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePicker/lib/index.test.ts
  packages/MuiMultiDateRangePicker/lib/types.test.ts
  packages/MuiMultiDateRangePickerPro/examples/demo/src/App.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/index.test.ts
  packages/MuiMultiDateRangePickerPro/lib/types.test.ts
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

test
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePicker/tsconfig.build.json
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/tsconfig.build.json
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

ts
  lib/tsconfig.json
  packages/MuiMultiDateRangePicker/tsconfig.build.json
  packages/MuiMultiDateRangePickerPro/tsconfig.build.json
Due: none

test
  packages/MuiMultiDateRangePicker/tsconfig.build.json
  packages/MuiMultiDateRangePickerPro/tsconfig.build.json
  tsconfig.json
Due: none

path
  packages/MuiMultiDateRangePicker/package.json
  packages/MuiMultiDateRangePickerPro/package.json
  tsconfig.json
Due: none

refactor for shared lib
  lib/date-utils.test.ts
  lib/date-utils.ts
  lib/index.ts
  lib/pointer-utils.test.ts
  lib/pointer-utils.ts
  lib/range-utils.test.ts
  lib/range-utils.ts
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.tsx
Due: MuiMultiDateRangePicker, MuiMultiDateRangePickerPro

build
  packages/MuiMultiDateRangePicker/tsconfig.build.json
  packages/MuiMultiDateRangePickerPro/tsconfig.build.json
Due: none

cleanup
  .gitignore
  lib/date-utils.test.ts
  lib/pointer-utils.test.ts
  lib/range-utils.test.ts
Due: none

package cleanup
  packages/MuiMultiDateRangePicker/bunfig.toml
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/package.json
  packages/MuiMultiDateRangePickerPro/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePickerPro/package.json
Due: none

function cleanup
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  README.md
  lib/date-utils.ts
  lib/index.ts
  package.json
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.new.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.tsx
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.tsx
  packages/MuiMultiDateRangePicker/lib/types.test.new.ts
  packages/MuiMultiDateRangePickerPro/lib/types.test.ts
Due: MuiMultiDateRangePicker

cleanup
  packages/MuiMultiDateRangePicker/lib/MultiRangeDatePicker.test.new.tsx
Due: MuiMultiDateRangePicker

rm test
  packages/MuiMultiDateRangePicker/lib/types.test.new.ts
Due: MuiMultiDateRangePicker

add specific dependabot workflows
  .github/dependabot.yml
Due: none

badge
  README.md
Due: none

codacy coverage
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

Path conditions:
  MuiMultiDateRangePicker: any of: packages/MuiMultiDateRangePicker/lib/, but not: **/*.test.ts, **/*.test.tsx, **/test-setup.ts, **/examples/**, **/dist/**, **/node_modules/**
  MuiMultiDateRangePickerPro: any of: packages/MuiMultiDateRangePickerPro/lib/, but not: **/*.test.ts, **/*.test.tsx, **/test-setup.ts, **/examples/**, **/dist/**, **/node_modules/**
